*, *::after, *::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

body, html {
  height: 600px;
  width: 1100px;
  overflow: hidden;
}

.hg20 {
  height: 20%;
}

.hg10 {
  height: 10%;
}

.h-60 {
  height: 55%;
}

.h-10 {
  height: 10%;
}

.h-80 {
  height: 80%;
}

.h-20 {
  height: 20%;
}

.h-90 {
  height: 90%;
}

.h-15 {
  height: 15%;
}

.h-70 {
  height: 70%;
}

.nopad {
  padding: 0;
}

.w-65 {
  width: 65%;
}

.w-35 {
  width: 35%;
}

.nomarg {
  margin: 0;
}

.blue {
  background: blue;
}

.red {
  color: #CB0731 !important;
}

.blanc {
  color: white !important;
}

.yellow {
  background: yellow;
}

.vert {
  color: #0b631a;
}

p {
  margin: 0
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #878787;
  border-radius: 50px;
  height: 9px;
}

.centrer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.couleur {
  width: 1%;
}

.nav-text {
  width: 99%;
}

.nav-el {
  display: flex;
  margin-top: 0px;
}

.navapp {
  background-color: #0d2431;
}

.hover1:hover {
  background-color: #00b490;
  transition: 0.2s;
  color: white;
}

.hover1 .couleur {
  background-color: #00b490;
}

.hover2:hover {
  background-color: #00b490;
  transition-duration: 0.3s;
}

.hover2 .couleur {
  background-color: #00b490;
}

.hover3:hover {
  background-color: #00b490;
  transition-duration: 0.3s;
}

.hover3 .couleur {
  background-color: #00b490;
}

.hover4:hover {
  background-color: #00b490;
  transition-duration: 0.3s;
}

.hover4 .couleur {
  background-color: #00b490;
}

.hover5:hover {
  background-color: #00b490;
  transition-duration: 0.3s;
}

.hover5 .couleur {
  background-color: #00b490;
}

.hover-el:hover a {
  color: white;
}

.hover-el a {
  text-decoration: none;
  color: #9999;
}

.main {
  background-color: #091821;
}

.main .haut-main {
  height: 8%;
}

.titre {
  font-size: 2em;
}

h1 {}

.croix img {
  height: 25px;
}

.croix a {
  margin-top: 0px;
  width: 60px;
  height: 20px;
  display: flex;
  justify-content: center;
}

.croix a:hover {
  opacity: 0.5;
}

.croix {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 15%;
  height: 100%;
}

.main .corps {
  height: 100%;
}

.main .droite {
  border-radius: 3px;
  background-color: #0e2431;
  position: relative;
}

.main .list {
  height: 85%;
  padding-right: 5px;
  border-radius: 3px;
  background-color: #091821;
}

.main .cont_liste {
  overflow: auto;
  height: 100%;
  padding-right: 3px;
}

.main .cont_liste .nom {
  width: 170px;
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .cont_liste .nom_app {
  width: 300px;
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .cont_liste .nom_bot {
  width: 150px;
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .cont_liste .nom_bot_app {
  width: 120px;
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .el-list {
  background-color: #0e2431;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid #091821;
}

.main .el-liste {
  color: white;
  display: flex;
  justify-content: space-around;
}

.el-list button {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .add-new {
  background-color: #0e2431;
  border-radius: 8px
}

.btn-success {
  color: #fff;
  background-color: #094a19;
  border-color: #094a19;
}

.btn-danger {
  color: #fff;
  background-color: #69252b;
  border-color: #69252b;
}

.main h2 {
  color: white;
}

.main h1 {
  color: white;
  padding-left: 10px;
  margin: 0;
  font-size: 2em;
}

/*slider*/
.main .oui {
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  background-color: #bf4949;
  overflow: hidden;
  width: 0;
  height: 97%;
  transition: .3s ease;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
}

.main .je {
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 35%;
  left: 65%;
}

.main h2 {
  font-size: 26px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #432f38;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0d2431;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: ;
  cursor: pointer;
}

#Settings_menu #croix_settings img {
  width: 30px;
}

#Settings_menu a {
  position: absolute;
  top: 2%;
  right: 2%;
}

#Settings_menu h2 {
  margin-top: 12px;
  margin-bottom: 8px;
}

#Settings_menu .custom-switch {
  padding-top: 10px;
}

#Settings_menu #list_to_follow {
  background-color: white;
  height: 130px;
  margin-bottom: 10px;
  overflow: auto;
  padding-left: 10px;
  border-radius: 5px;
  padding-top: 5px;
  color: black;
}

#Settings_menu #list_to_follow .custom-checkbox {
  margin-top: 5px;
}

textarea {
  resize: none;
  margin-top: 10px;
  width: 70%;
  outline: none !important;
  border-radius: 3px;
}

.zero {
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0
}

a {
  text-decoration: none;
}

#lien_tuto {
  color: #cacaca;
  /*mdrr*/
  text-decoration: underline;
}

.input-group-text {
  background-color: #094a19;
  border: #094a19;
  color: white;
}

.choixs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cont-choix {
  height: 90%;
  width: 100%;
  border-radius: 5px;
  background-color: #c5c5c5;
  overflow: auto;
}

.el-notifs-active {
  width: 100%;
  overflow: auto;
}

.choixs h2 {
  padding-left: 2px;
  padding-right: 2px;
}

.jaune {
  border-bottom: 2px solid yellow;
}

.el-notifs p {
  padding-bottom: 8px;
}

.people_to_tag {
  display: flex;
  justify-content: flex-start;
}

.people_to_tag p {
  padding-left: 5px;
}

#exampleFormControlSelect1 {
  width: 12%;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  color: white;
}

.settings-options {
  margin-bottom: 30px;
}

.key {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.autour_key {
  height: 40px;
  margin-left: 20px;
  padding-left: 60px;
  padding-right: 40px;
  border-radius: 3px;
  margin-right: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #00b490;
  width: 750px;
  ;
}

.autour_key p {
  font-size: 1.2em;
}

.settings-options input{
  padding-left: 2px;
  padding-right: 0;
  width: 45px !important;
  height: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.settings-options .key button {
  height: 30px;
}

.settings-options h2 {
  margin-bottom: 20px;
}

.el-goptionsall {
  margin-bottom: 15px;
  margin-left: 20px;
}

.el-goptions {
  display: flex;
}

.el-goptions a {
  margin-left: 20px;
}

.version {
  position: absolute;
  bottom: 0;
  right: 0;
}

.version {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 5px;
  padding-bottom: 5px
}



.button-settings {
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#input_webhooks {
  width: 350px;
  margin-top: 5px;
  height: 30px;
}

#input-callback {
  width: 70%;
}

#close {
  margin-top: 9px;
}

#webhook_div {
  width: 45%;
}

#test_webhook {
  height: 30px;
  margin-top: 5px;
  padding-top: 2px;
}

.haut-truc {
  background-color: #0e2431
}

.logo_brolt {
  width: 50px;
  margin-top: 2px;
}

.option_haut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 140px;
  text-align: center;
  font-size: 1.03em;
  transition-duration: 0.2s;
}

.option_haut p {
  margin-bottom: 5px;
}

.logo_div {
  width: 5%;
  padding-left: 25px;
}

.div_choix {
  width: 80%;
  display: flex;
  -webkit-app-region: drag;
}

.option_haut:hover {
  background-color: #00b490;
}

.couleur_bas {
  border-bottom: 2px solid #00b490;
}

.btn {
  box-shadow: none !important;
}

.form-control {
  box-shadow: none !important;
}

.menu_notif {
  width: 15px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #00b490;
  transition-duration: 0.5s;
}

.menu_notif:hover {
  width: 200px;
}

.notif_option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  height: 80px;
  font-size: 1.2em;
}

.notif_option:hover {
  background-color: #038168;
}

.titre_notif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  height: 80px;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn {
  box-shadow: none !important;
}

.ml-3, .mx-3 {
  margin-left: 1rem !important;
}

.btn-primary {
  color: #fff;
  background-color: #00b490;
  border-color: #00b490;
}

.btn-primary:hover {
  color: #fff;
  background-color: #01a786 !important;
  border-color: #01a786 !important;
}

.btn-primary:focus {
  color: #fff;
  background-color: #00b490;
  border-color: #00b490;
}

.btn-primary:active {
  color: #fff;
  background-color: #038168 !important;
  border-color: #038168 !important;
}

#btn_save_settings {
  width: 90px !important;
}

#easter {
  opacity: 0.3;
}

.btn-orange {
  background-color: #96141400;
  ;
  color: white;
  width: 120px;
  padding-top: 0px;
  border: 2px solid #961414;
  height: 25px !important;
  font-size: 0.9em;
}

.btn-orange:hover {
  background-color: #851414;
  color: white;
}

.btn-orange:active {
  background-color: #791414;
  color: white;
}

.bandeau_notif {
  display: flex;
}

.bandeau_notif div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bandeau_notif p {
  color: #00b490;
  font-size: 1.3em;
  font-weight: bold;
}

.notifs_place {
  overflow: auto;
  padding-top: 15px;
  border: 2px solid #00b490;
  border-radius: 2px;
}

.nom_compte {
  width: 175px;
  padding-left: 20px;
  overflow: hidden;
}

.texte {
  width: 775px;
  overflow: hidden;
  padding-left: 20px;
}

.date_notif {
  width: 102px;
  padding-left: 20px;
  overflow: hidden;
}

.message_notif {
  display: flex;
  height: 50px;
  overflow: hidden;
}

.text_notif {
  padding-top: 8px !important;
}

.haut_notif {
  display: flex;
  justify-content: space-between;
}

.btn_notif {
  height: 30px;
  width: 180px;
}

#linkInput {
  width: 300px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 2px solid #00b490;
  background-color: #fff0;
  border-right-width: 1px !important;
  color: white;
}

#linkInput:focus {
  color: white
}

.display-flex {
  display: flex;
}

#btn_valide_giveway {
  padding-top: 4px;
  color: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 38px;
  border-left-width: 1px !important;
  border: 2px solid #00b490;
}

#btn_valide_giveway:hover {
  background-color: #00b490 !important;
  border-color: #00b490 !important;
}

#btn_valide_giveway:active {
  color: #fff;
  background-color: #038168 !important;
  border-color: #038168 !important;
}

.cont_tasks {
  border: 2px solid #00b490;
  border-radius: 2px;
  overflow: auto;
}

.task_el {
  position: relative;
  border: 2px solid #00b439;
  border-radius: 2px;
  height: 100%;
  margin-bottom: 0px;
  width: 23.7%;
  margin-right: 1.3%;
  padding: 20px;
}

.task_el img {
  height: 100%;
}

.ligne_el_tasks {
  height: 208px;
  display: flex;
  margin-bottom: 15px;
}

.waiting {
  border: 2px solid #a52121;
}

.running {
  border: 2px solid #ffb600;
}

.task_el_haut {
  height: 60%;
}

.bas_el_haut {
  height: 40%;
}

.text-align-center {
  text-align: center;
}

.del_task {
  top: 1px;
  ;
  right: 5px;
  height: 18px;
  position: absolute;
}

.del_task:hover {
  opacity: 0.5
}

.border_brolt {
  border: 2px solid #00b490;
}

.option_add {
  margin-bottom: 15px;
}

.option_add p {
  font-size: 1.2em;
  margin-left: 10px;
  margin-bottom: 10px;
}

.option_add input[type="text"] {
  background-color: #fff0;
  height: 30px;
  padding-top: 4px;
}

.option_add input[type="text"]:focus {
  border-color: #00b490;
  color: white;
}

.Insta_input {
  display: flex;
  justify-content: space-between;
}

.Insta_input input {
  width: 49%;
}

#proxyauth {
  margin-bottom: 10px;
}

#btn_new_user {
  background-color: #fff0;
  margin-top: 10px;
  border: 2px solid #00b490;
}

#btn_new_user:active {
  border-color: #038168;
}

.modal {
  padding-top: 100px;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/ opacity */
}

.modal-error {
  padding-top: 200px;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
}

/* Modal Content */
.modal-content-account {
  border: 2px solidd #00b490;
  height: 80%;
  position: relative;
  border-radius: 5px;
  background: #0e1e27;
  margin: auto;
  padding: 0;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.3s;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  color: white;
}

.modal-content-error {
  border: 2px solidd #00b490;
  height: 40%;
  position: relative;
  border-radius: 5px;
  background: #0e1e27;
  margin: auto;
  padding: 0;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.3s;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  color: white;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -50px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.el_accounts {
  height: 50px;
  border-bottom: 2px solid #00b490;
}

.el_account {
  display: flex;
  justify-content: space-around;
}

.el_account div {
  width: 33%;
  overflow: hidden;
  text-align: center;
}

#liste_account {
  overflow: auto;
}

.haut_modal {
  border-bottom: 2px solid #00b490;
}

#add_giveway_btn {
  width: 100px;
  margin-top: 0;
  height: 33px;
  padding-top: 3px;
}

.bas_modal {
  display: flex;
  justify-content: center;
}

.couleur_win {
  color: red;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #00b490 !important;
  background-color: #00b490 !important;
  box-shadow: none !important;
}

.custom-control-input:checked~.custom-control-label::before {
  outline: none;
  box-shadow: none !important;
}

.input_brolt {
  background-color: #fff0;
  height: 35px;
  padding-top: 4px;
  border: 2px solid #00b490;
  width: 350px;
  margin-bottom: 10px;
}

.input_brolt:focus {
  border-color: #00b490;
  color: white;
  background-color: #fff0;
}

#giveaway_name_form {
  margin-bottom: 20px;
}

.custom-switch {
  margin-top: 8px;
}

textarea {
  background-color: #fff0;
  padding-left: 5px;
  margin-top: 10px;
  color: white;
}

#error {
  color: red;
}

@keyframes animateright {
  from {
    right: -50px;
    opacity: 0
  }

  to {
    right: 0;
    opacity: 1
  }
}

@-webkit-keyframes animateright {
  from {
    right: -50px;
    opacity: 0
  }

  to {
    right: 0;
    opacity: 1
  }
}

.relative {
  position: relative;
}

#waitNotif, #doneNotif {
  display: none;
  z-index: 100;
  position: absolute;
  top: 50px;
  right: 0;
  margin-right: 20px;
  padding-left: 20px;
  border-radius: 2px;
  height: 50px;
  width: 175px;
  background-color: #ffb000;
  animation-name: animateright;
  animation-duration: 0.7s;
  -webkit-animation-name: animateright;
  -webkit-animation-duration: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

#waitNotif p, #doneNotif p {
  color: black;
}

#doneNotif {
  background-color: green
}
#actual_version{
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.8

}

#input_webhook{
  width: 500px!important;
  height: 25px !important;
}
